* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

img {
  max-width: 100%;
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
}

.container {
  margin: 0 auto;
  width: 85%;
}

.card {
  padding: 10px;
  border: 1px solid black;
  width: calc((100% / 3) - 10px);
  margin: 5px;
}